(?i){{ project_slug }}
(?i){{ project_module }}
APIs
anyio
backoff
Biome
CLI
Cloudflare
Codecov
Dependabot
GitHub
frontmatter
httpx
Jinja
lifecycle
mkdocs
Pydantic
PyPI
repo
repos
resumable
ruamel
SDK
subdirectory
subdirectories
TOML
tomli
tomllib
Typer
selectolax
pybraries
PyGithub
triage
triages
auditability
[dD]eduplicat(e|ed|es|ing|ion)
[uU]nstage(d|s|ing)?
