{%- if include_docs -%}
# Explanation

Background information and conceptual discussions about {{ project_name }}.

!!! note "Under development"

    Explanations will be added as the project develops.
{%- endif %}
