"""{{ project_name }}: {{ project_description }}."""

from importlib import metadata

__version__ = metadata.version("{{ project_slug }}")

__all__ = [
    "__version__",
    # Add public API exports here as the library develops
]
