{%- if include_docs -%}
# Roadmap

This page will track planned features and development priorities for {{ project_name }}.

!!! note "Under development"

    Roadmap items will be added as the project develops.
{%- endif %}
