{%- if include_docs -%}
---
toc_depth: 1
---

# Changelog

For the authoritative changelog, see [CHANGELOG.md](https://github.com/tbhb/{{ project_slug }}/blob/main/CHANGELOG.md) in the repository.

## Unreleased

{{ project_name }} is in early development. No releases yet.
{%- endif %}
