cff-version: 1.2.0
message: "If you use this software, please cite it as below."
type: software
title: "{{ project_name }}"
abstract: "{{ project_description }}"
authors:
  - family-names: Burns
    given-names: Tony
    orcid: "https://orcid.org/0009-0006-4480-2939"
repository-code: "https://github.com/tbhb/{{ project_slug }}"
url: "https://{{ project_slug }}.tbhb.dev"
license: MIT
version: "0.1.0"
date-released: "{{ copyright_year }}-01-01"
keywords:
  - {{ project_slug }}
  - python
  - cli-tool
