{%- if include_docs -%}
# Installation

{{ project_name }} requires Python 3.10 or later.

## Basic installation

=== "pipx"

    ```bash
    pipx install {{ project_slug }}
    ```

=== "uv"

    ```bash
    uvx {{ project_slug }}
    ```

## Install from repository

To install the latest development version directly from GitHub:

=== "pipx"
    ```bash
    pipx install git+https://github.com/tbhb/{{ project_slug }}.git
    ```

=== "uv"

    ```bash
    uvx git+https://github.com/tbhb/{{ project_slug }}.git
    ```
{%- endif %}
