{%- if include_docs -%}
# How-to guides

Task-oriented guides for achieving specific goals with {{ project_name }}.

!!! note "Under development"

    Guides will be added as the project develops.
{%- endif %}
