{%- if include_docs -%}
# Glossary

Definitions of key terms used throughout the {{ project_name }} documentation.

!!! note "Under development"

    Glossary terms will be added as the project develops.
{%- endif %}
