{%- if include_docs -%}
# Reference

Technical specifications and lookup resources for {{ project_name }}.

!!! note "Under development"

    Reference documentation will be added as the project develops.

[Glossary](glossary.md)
:   Definitions of key terms.

[Changelog](changelog.md)
:   Version history.
{%- endif %}
